nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    padding: 3% 2%;
    position: sticky;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid black;
    background-color: azure;
    height: 40px;
    box-shadow: 0 4px 2px -2px gray;
}

.logo {
    display: flex;
    align-items: center;
    max-width: 450px;
    text-decoration: none;
    color: black;
}
.logo:hover {
    cursor: pointer;
    text-decoration: underline;
    color: darkcyan;
    font-weight: 700;
}

.nav-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 16%;
}

.nav-item {
    text-decoration: none;
    color: gray;
}
.nav-item:hover {
    cursor: pointer;
    text-decoration: underline;
    color: black;
    font-weight: 700;
}

@media (max-width: 992px) {
    .nav-item-container {
        width: 30%;
    }
}